.App {
  text-align: center;
}

.profile-card {
  width: 30rem;
  border-color: black;
  border: 3px solid;
  font-family: sans-serif;
  margin: 5rem;
}

.profile-card-data {
  padding-left: 5%;
  padding-right: 5%;
}

.profile-card-data p {
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.profile-card img {
  width: 100%;
}

.skills {
  padding: 5% 5% 5% 0%;
  display: inline-block;
}

.skill {
  margin-right: 5%;
  border-radius: 10%;
  padding: 1% 5% 1% 5%;
  font-weight: 600;
  font-size: small;
}

.body {
  font-family: "Courier New", Courier, monospace;
}
